/**
 * @file
 * This file is used to style the bottom region.
 */

.layout-bottom {
  overflow: hidden;
  padding: 2rem 4%;
  background: #fff;
  border-top: 1px solid #eeeeee;
  margin-top: 30px;
}
/* Extra large + side margins */
@media screen and (min-width: 80rem) { /* 1200px (large) + 80px (side margins) = 1280px */
  .layout-bottom {
    padding: 2rem 0;
  }
}
